div.inner {
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

div.inner:before {
    background-image: linear-gradient(to left, #008080)
}

ul {
    list-style: none;
    text-align: center;
    margin-top: 0;
    padding-top: 30px;
}

li {
    display: inline;
    margin-top: 50px;
   
}

a {
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    padding-right: 70px;
}

h1 {
    color: white;
    font-family: 'Bree Serif';
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

p {
    color: yellow;
    text-align: center;
}

